<% layout('layouts/boilerplate') -%>
<%- include('../partials/navbar'); %>

<form action="/campground/<%=camp.id%>?_method=PUT" method="POST" enctype="multipart/form-data">   
    <div class="mb-3 mt-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" value="<%= camp.title %>" id="title" name="campground[title]" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">This is grnerally name of campground</div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" class="form-control" value="<%= camp.location %>" name="campground[location]" id="location">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Add Image</label>
         <input class="form-control" type="file" name="image" id="image" multiple>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description"  name="campground[description]" rows="3"><%= camp.description %></textarea>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" value="<%= camp.price %>" name="campground[price]" id="price">
      </div>
    <button type="submit" class="btn btn-primary">UpdateCampground</button>
  </form>

