<% layout('layouts/boilerplate') -%> 
<%- include('../partials/navbar'); %>
<%- include('../partials/flash'); %>

<div class="row justify-content-md-center">
  <div class="card mt-2" style="width: 25rem">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% for(let i=0;i<camp.images.length;i++){ let img = camp.images[i] %> 
        <div class="carousel-item <%= (i===0)? 'active': ""  %>">
          <img src="<%= img.url %>" class="d-block w-100"  class="card-img-top" alt="">
        </div>
        <% } %> 
      </div>
     <% if(camp.images.length>1){ %> 
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %> 
    </div>
   

    
    <div class="card-body">
      <h5 class="card-title"><%=camp.title %></h5>
      <p class="card-text"><%=camp.description %></p>
      <% if(currentUser&&camp.author.username===currentUser.username){ %> 
      <div class="card-body">
      <a href="/campground/<%= camp._id %>/edit" class="btn card-link btn-sm btn-success">Edit</a>
      <form action="/campground/<%= camp._id %>?_method=DELETE" class="d-inline" method="POST">
      <button class="btn btn-sm btn-danger">Delete</button>
      </form>
    </div>
    <% } %> 
      <hr>
      <p>created by <%= camp.author.username %> </p>
      <hr>
      

      <form action="/campground/<%=camp._id%>/review" method="POST">
        <div class="mb-1">
         
          <fieldset class="starability-basic">
            <legend>leave a review</legend>
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Add a Review</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            name="review[comment]"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>


  <div class="card mt-2" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <% for(reviews of camp.review){ %>
      <li class="list-group-item">
       <h5><%=  reviews.author.username %></h5>
       
       
        <p class="starability-result" data-rating="<%= reviews.rating %>">
          Rated: 3 stars
        </p>
       
       <p><%= reviews.comment %></p>
       <% if(currentUser&&reviews.author.username===currentUser.username){ %> 
        <form action="/campground/<%=camp._id%>/review/<%=reviews._id%>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
      </li>
      <% } %> 
    </ul>
  </div>
 
</div>




